
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm()) {
        Html.ActionLink("Doi tac 1", "DoiTac1");
    }
</body>
</html>
