
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Google</h1>
    </br>
   <p style="margin-left:20px;font-size:25px">@Html.ActionLink("EduMall","Edumall")</p>
    <p style="margin-left:20px;font-size:25px">@Html.ActionLink("VCTGame", "VCTGame")</p>
    <p style="margin-left:20px;font-size:25px">@Html.ActionLink("Garena", "Garena")</p>
    <p style="margin-left:20px;font-size:25px">@Html.ActionLink("Lịch sử", "LichSu")</p>
</body>
</html>
