
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Google</h1>
        <p style="margin-left:20px">@Html.ActionLink("Edumall.com.vn","Edumall")</p>
        <p style="margin-left:20px">@Html.ActionLink("vtcgame.vn", "VTCGame")</p>
        <p style="margin-left:20px">@Html.ActionLink("Garena.vn", "Garena")</p>
        <p style="margin-left:20px">@Html.ActionLink("Lịch sử", "LichSu")</p>
    </div>
</body>
</html>
