
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LichSu</title>
</head>
<body>
    <div> 
        <h1>Lịch sử</h1>
        <p style="margin-left:20px">@Html.ActionLink("Khách hàng", "KhachHang","History")</p>
        <p style="margin-left:20px">@Html.ActionLink("Đối tác", "DoiTac", "History")</p>
    </div>
</body>
</html>
